*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1{
    font-size: 45px;
    color: #444;
}
h2{
    color: black;
    font-size: 55px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
    
}
.vert{
    color: green;
    font-size: 50px;
}
header{
    height: 120px;
}
header h1{
    float: left;
    margin-top: 32px;
}
header nav{
    float: right;
    margin-top: 50px;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
#main-image{
    height: 60vh;
    background: url('institute.jpg') center;
    object-fit: cover;
    background-size: cover;
}
#main-image h2{
    text-transform: uppercase;
    text-align: center;
    padding: 150px;

}
/* #presentation img{
    height: 200px;
    margin-right: 25px;
} */
.im{
    height: 200px;
    margin-right: 25px;
}
.im img{
    height: 100%;
}
#presentation .wrapper{
    display: flex;
    text-align: center;
}
.tt{
    text-align: center;
    text-transform: uppercase;
    color: black;
}
footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #0e7150;
    color: #333;
}
.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.bloc{
    width: 25%;
    margin: o 30px;
}
.footer-contacts h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer-contact p{
    padding: 5px 0;
}

.liste-services,
.liste-horaires,
.liste-medias{

}

.liste-services li{
    padding: 2px 0;
}
.liste-services a{
    color: #333;
}
.liste-services a:hover{
    color: rgb(3, 3, 3);
}

/*.photo{
    width: 20px;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}*/
.liste-medias .photo{
    width: 20px;
}
.liste-medias a{
    color: #333;
    align-items: center;
    font-size: 25px;
}
#consultation p{
    text-align: center;
}